*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

.fl{
  float: left;
}

.fr{
  float: right;
}


ul{
  display: inline-block;
}

li{
  display: inline-block;
  margin-right: 20px;
}

ul > li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

header{
  height: 1000px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.nav1{
  height: 100px;
  line-height: 100px;
}

.login > ul > li > a > img{
  width: 20px;
  height: 20px;
}

.login::after{
  content: "";
  display: table;
  clear: both;
}

.login{
  display: inline-block;
}


.bordo{
  border-bottom: 3px solid grey;
}

.logo{
  display: inline-block;
}

.nav3::after{
  content: "";
  display: table;
  clear: both;
}

.nav2{
  margin-top: 10px;
}

.nav3{
  display: inline-block;
  margin-top: 10px;
}

.jumbotron{
  width: 500px;
  height: 400px;
  margin-top: 100px;
  text-align: left;
}

.jumbotron > *{
  margin-bottom: 10px;
}
 h1{
   font-size: 40px;
   font-weight: bold;
 }

.bottone1{
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}

.bottone2{
  background-color: white;
  color: #fff;
  border: 1px solid orange;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  color: orange;
}


main{
  height:2000px;
}

.cubo{
  text-align: center;
  padding-top: 40px;
  height: 400px;
}
.cubo > p{
  margin-top: 30px;
}
.cubo > h2{
  font-size: 30px;
}
.learnmore::after{
  content: "";
  display: table;
  clear: both;
}
.learnmore{
  padding-top: 40px;
  height: 400px;
  width: 1200px;
}

.libro{
  height: 100%;
  width: 320px;
}

.sez2{
  height: 100%;
  width: 880px;
}
.cmr > h3{
  font-weight: bold;
  font-size: 20px;
}

.cmr > *{
  margin-bottom: 20px;
}

.cmr >div > ul > li > img{
  margin-right:10px;
}

.popolar{
  font-weight: bold;
}

/* Colonne */
.colonne::after{
  content: "";
  display: table;
  clear: both;
}
.colonne{
  margin: auto;
  width: 100%;
  margin-bottom: 100px;
}
/* Colonna di destra */

.colonna1{
  height: 550px;
  width: 33.333%;
  float: left;
  padding-right: 30px;
}
.destra{
  height: 550px;
  width: 100%;
  position: relative;
  text-align: center;

}

/* Colonna centrale */

.colonna2{
  height: 550px;
  width: 33.333%;
  float: left;
  padding: 0px 15px;
}
.centro{
  height: 550px;
  width: 100%;
  position: relative;
  text-align: center;
}
/* Colonna di sinistra */

.colonna3{
  height: 550px;
  width: 33.333%;
  float: left;
  padding-left: 30px;
}
.sinistra{
  height: 550px;
  width: 100%;
  position: relative;
  text-align: center;
}

.colonne p{
  padding: 50px 0px;
}
.colonna3 p{
  padding-bottom: 25px;
}
.bordo{
  margin: auto;
}

.colonne .popolar{
  padding-top: 20px;
}

.colonne li{
  display: block;
}

.listato {
  text-align: left;
  margin-top:  30px;
}

.listato > ul > li > img{
  margin-right: 20px;
}

.destra > input{
  margin-top: 50px;
}
.centro > input{
  margin-top: 50px;
}
.sinistra > input{
  margin-top: 50px;
}

.gradient{
  background-image: linear-gradient(to bottom left, #5cd3c6, #5dbcd2);
  width: 100%;
  height: 800px;
  color: #fff;
  text-align: center;
}

.gradient > .container > h3{
  font-size: 30px;
  margin-bottom: 30px;
}

.box::after{
  content: "";
  display: table;
  clear: both;
}

.box{
  margin-top: 50px;
}
.box div{
  height: 200px;
  width: 300px;
  background-color: green;
  display: inline-block;
  border: 1px solid black;
}
